<div class="col-md-6">
  <div class="process">
    <div class="clearfix process__header">
      <div class="process__label pull-left">
        Process 01
      </div>
      <span class="glyphicon glyphicon-remove pull-right"></span>
    </div>
    <div class="cpu">
      <div class="cpu__text">
        <div class="cpu__label">CPU %</div>
        <div class="cpu__value">73</div>
      </div>
      <div class="cpu__graph">Graph</div>
    </div>
    <div class="process__stats">
      <div class="process__status">
        <div class="process__stats__label">
          Status
        </div>
        <div class="process__status__value">
          On
        </div>
      </div>
      <div class="process__instances">
        <div class="process__stats__label">
          Status
        </div>
        <div class="process__instances__value">
          On
        </div>
      </div>
      <div class="process__memory">
        <div class="process__stats__label">
          Status
        </div>
        <div class="process__memory__value">
          On
        </div>
      </div>
      <div class="process__up-time">
        <div class="process__stats__label">
          Status
        </div>
        <div class="process__up-time__value">
          On
        </div>
      </div>
      <div class="process__restarts">
        <div class="process__stats__label">
          Status
        </div>
        <div class="process__restarts__value">
          On
        </div>
      </div>
    </div>
  </div>
</div>