
<div class="process">
  <div class="process__header">
    <div class="row">
      <div class="col-xs-6 process__label">
        Process
        <span class="process__id">{{ data.id }}</span>
      </div>
      <div class="col-xs-6 text-right process__remove">
        <span class="glyphicon glyphicon-remove" ng-click="remove({processId: data.id})"></span>
      </div>
    </div>
  </div>
  <div class="clearfix cpu">
    <div class="process__cpu__text">
      <div class="process__stats__label">CPU %</div>
      <div class="process__stats__value process__cpu">{{ data.cpu }}</div>
    </div>
    <div class="process__cpu__graph">
    </div>
  </div>
  <div class="clearfix process__stats__group">
    <div class="process__status">
      <div class="process__stats__label">
        Status
      </div>
      <div class="process__stats__value process__status__value" ng-class="{ 'text-success': isStatusOn, 'text-danger': !isStatusOn }">
        {{ data.status }}
      </div>
    </div>
    <div class="process__instances">
      <div class="process__stats__label">
        Instances
      </div>
      <div class="process__stats__value process__instances__value">
        {{ data.instances }}
      </div>
    </div>
    <div class="process__memory">
      <div class="process__stats__label">
        Memory MB
      </div>
      <div class="process__stats__value process__memory__value">
        {{ data.memory }}
      </div>
    </div>
    <div class="process__up-time">
      <div class="process__stats__label">
        Up Time
      </div>
      <div class="process__stats__value process__up-time__value">
        {{ data.upTime }}
      </div>
    </div>
    <div class="process__restarts">
      <div class="process__stats__label">
        Restarts
      </div>
      <div class="process__stats__value process__restarts__value" ng-class="{ 'text-danger': isTooManyRestarts }">
        {{ data.restarts }}
      </div>
      <div class="process__restarts__details" ng-show="data.restartDates.length > 0">
        <div class="glyphicon glyphicon-chevron-down" uib-tooltip-template="htmlTooltip" tooltip-placement="bottom"></div>
      </div>
    </div>
  </div>
</div>