@font-face {
  font-family: "DJB Get Digital";
  src: url("//db.onlinewebfonts.com/t/15f83f7e450398162d9fc5edf78c1794.eot");
  src: url("//db.onlinewebfonts.com/t/15f83f7e450398162d9fc5edf78c1794.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/15f83f7e450398162d9fc5edf78c1794.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/15f83f7e450398162d9fc5edf78c1794.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/15f83f7e450398162d9fc5edf78c1794.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/15f83f7e450398162d9fc5edf78c1794.svg#DJB Get Digital") format("svg");
}

@font-face {
  font-family: "Segoe UI Bold";
  src: url("//db.onlinewebfonts.com/t/60570a3f64a1fece44ebf71b43617029.eot");
  src: url("//db.onlinewebfonts.com/t/60570a3f64a1fece44ebf71b43617029.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/60570a3f64a1fece44ebf71b43617029.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/60570a3f64a1fece44ebf71b43617029.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/60570a3f64a1fece44ebf71b43617029.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/60570a3f64a1fece44ebf71b43617029.svg#Segoe UI") format("svg");
}

@font-face {
  font-family: "Segoe UI Semibold";
  src: url("//db.onlinewebfonts.com/t/d4d6e1a6527a21185217393c427a52cb.eot");
  src: url("//db.onlinewebfonts.com/t/d4d6e1a6527a21185217393c427a52cb.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/d4d6e1a6527a21185217393c427a52cb.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/d4d6e1a6527a21185217393c427a52cb.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/d4d6e1a6527a21185217393c427a52cb.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/d4d6e1a6527a21185217393c427a52cb.svg#Segoe UI Semibold") format("svg");
}

/* Angular Bootstrap UI fix from their install instructions */

.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/**/

body {
  font-family: "Segoe UI Bold", "DJB Get Digital";
  padding-top: 70px;
}
